@import '../../Constants.css';

.pNameWrapper{
    text-align: center;
    color: white;
    width: 100vw;
    height: 5rem;
}
.pName{
    font-size: 5rem;
    font-weight: bold;
    background-image: var(--link-c);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.container{
    width: 100%;
    padding: 3%;
    margin-top: 10vh;
    gap: 1rem;
    display: grid;
    grid-column: 2;
    grid-row: 1;
}
.container a{
    background-image: var(--link-c);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.container a:hover{
    color: var(--link2-c);
    text-decoration: underline;
}

#v9{
    width: 100vw;
}

.wrapper{
    display: grid;
    grid-template-columns: 0px 1fr;
}