@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('./Constants.css');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Quicksand';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--content-bg-color2) center fixed;
  color: var(--p-color);
}

.App{
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

a{
  color: var(--h1-color);
  text-decoration: none;
}

a:hover{
  color: var(--link2-c);
}

h1{
  color: var(--h1-color);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
