@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('./Constants.css');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--p-color);
}

body{
  font-family: 'Quicksand';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--content-bg-color2) center fixed;
  color: var(--p-color);
}

.App{
  width: 100vw;
  height: 100vh;
}

a{
  color: var(--highlight-color);
}

a:hover{
  color: var(--h1-color);
}

h1{
  color: var(--h1-color);
}

