@import './Constants.css';

.navigation {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.5rem 0rem;
    background-color: transparent;
    /* box-shadow: 0px 5px 5px 5px rgba(9, 9, 9, 0.23); */
    border-bottom: 0.5vh solid rgba(0, 0, 0, 0.23);
}

.pName{
    text-decoration: none;
    color: var(--h1-color);
    font-size: 2.5rem;
    margin-left: 1rem;
}

.menu{
    margin-left: auto;
}

.menu ul{
    display: flex;
    padding: 0;
}

.menu li{
    list-style-type: none;
    margin: 0 1rem;
}

.menu li a{
    text-decoration: none;
    display: block;
    width: 100%;
}

.hamburger{
    border: 0;
    height: 40px;
    width: 40px;
    padding: 0.5rem;
    border-radius: 50%;
    /* background-color: var(--secondary-bg-color); */
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    display: none;
}

.hamburger:hover{
    background-color: var(--highlight-color);
}

@media screen and (max-width: 700px){
    .hamburger{
        display: block;
    }

    .menu ul{
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        flex-direction: column;
        width: 100%;
        height: calc(100vh - 60px);
        min-height: 50vh;
        background-color: var(--content-bg-color1);
    }

    .menu li{
        text-align: center;
        margin: 0;
        border-bottom: 0.5vh solid rgba(0, 0, 0, 0.23);
    }

    .menu li a{
        color: var(--p-color);
        width: 100%;
        padding: 1.5rem 0;
    }

    .menu li:hover a{
        background-color: var(--highlight-color);
        color: var(--main-bg-color);
    }

    .menu.expanded ul{
        display: block;
    }
}