.navbar {
    background-color: rgb(220, 220, 220);
    padding: 20px;
    display: flex;
    align-items: center;
    min-width: 20%;
    max-width: 30%;
    top: 5%;
    margin: 0 auto;
    border: none;
    border-radius: 5px;
}

.navbar h1 {
    font-size: 1.5em;
    font-weight: bold;
}

.navbar #links {
    margin-left: auto;
}

.navbar a {
    color: #333;
    margin-left: 16px;
    padding: 6px;
}

.navbar a:hover {
    color: var(--pink-secondary);
}