@import './Constants.css';

.navigation{
    height: 100vh;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    box-shadow: 0 0 5vw rgb(9, 9, 9);
    background-color: transparent;
    position: fixed;
    z-index: 1; 
    top: 0; 
    left: 0;
}

.pNameWrap{
    width: 100%;
    text-align: center;
    grid-row: 1;
    grid-column: 2 / 3;
}

.pName{
    font-size: 5em;
    font-weight: bold;    
    background-image: var(--link-c);
    -webkit-background-clip: text;
    color: transparent;
}

.row{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
}

.row a{
    text-decoration: none;
    color: rgb(206, 206, 206);
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}

.row a:hover{
    background-color: rgba(0, 0, 0, 0.8);
}

span{
    margin-left: 16px;
}