@import './Constants.css';

.navigation {
    height: 100vh;
    width: 250px;
    display: grid;
    grid-template-columns: 1fr;
    padding: 5% ;
    background-color: transparent;
    box-shadow: 0 0 5vw rgba(9, 9, 9, 0.5);
    /* border-right: 0.25vh solid rgba(0, 0, 0, 0.23); */
}

.pName{
    text-decoration: none;
    color: var(--h1-color);
    font-size: 150%;
    text-align: center;
    
}

.menu ul{
    display: flex;
    flex-direction: column;

    padding: 0;
}

.menu li{
    list-style-type: none;
    margin: 5%;
    font-size: 150%;
}

.menu li a{
    text-decoration: none;
    display: block;
    width: 100%;
}

.menu li:hover{
    background-color: var(--highlight-color);
    border-radius: 5px;
    color: var(--main-bg-color);
}

.menu .row{
    color: aqua;
}